body{
  background-color: black;
  color:#10FF00;
  font-size: 1.3rem;
  font-family: 'Roboto Condensed', sans-serif;

}

h1 {
  color: white;
}

.container{
  width: 80%;
  margin:auto;
  text-align: center;
  margin-top: 5%;
}

.container__top{
 margin-top:50%;

}
.title__heading {
  width: 80%;
  margin: 3% auto;
  font-family: 'Press Start 2P', cursive;
  color: #90FF00;
  line-height: 1.2;
}

.input__field {
box-sizing: border-box;
font-size: 1.5rem;
border: 2.5px solid white;
border-radius: 6px;
width: 25%;
}

.button{
  font-size: 1.2rem;
  display: block;
  margin: 2% auto;
  border: none;
  padding: 1%;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.button:hover {
  /*transform: translate(0,2);*/
}
.form {

}
.image{
  display: block;
  margin: auto;

}

img.resize {
  max-width:70%;
  max-height:70%;
}
.description{
  width: 80%;
  margin: 5% auto;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}
